/* * {
    overflow-x: hidden;
} */

h2 {
    justify-content: center;
    text-align: center;
}

.container1 {
    background: black;
}

.navigation {
    display: flex;
    /* text-align: center ; */
    /* align-items: center; */
    text-align: center;
    justify-content: center;

}

#navbar ul li {
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    margin: 10px;
    padding: 10px;


}

#navbar ul li a {

    text-decoration: none;
    color: white;

}

.services {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* section2 */
.container2 {
    display: flex;
    flex-wrap: wrap;



}

/* section 3 */
.container3 {
    display: flex;
    flex-wrap: wrap;



}

/* section 4 */

.container4 {
    display: flex;
    flex-wrap: wrap;


}
/* section5 */
footer{
    margin-top: 30px;
    background-color: black;
    color: white;
}
.quick-links{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.icon img{
    height: 50px;
    margin: 20px;
}

.center{
    text-align: center;
    
}

/* utility classes  */
.box {
    border: 2px solid green;
    border-radius: 20px;
    width: 350px;
    margin: 10px;
    padding: 30px;


}

.box img {
    height: 235px;
    display: block;
    /*  margin auto is done only when the display block is there */
    margin: auto;
    /* padding-top: 15px; */

}

.rect-img img {
    height: 175px;
    display: block;
    /*  margin auto is done only when the display block is there */
    margin: auto;
    /* padding-top: 15px; */

}
